h1 {
  color: red;
}
div.sample{
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
}
#main{
  margin-top: 5em;
}
body{
  font-family: sans-seif;
  padding-top: 70px; 
}
.custom-search-form {
    padding: 5px 0;
    width: 500px;
    height: 30px;
    position: relative;
    left: 10px;
    float: right;
    line-height: 22px;
}
