{% extends "base.html" %}
{% block main %}
<h1>{{title}}</h1>
<div class="container">
      <img src="{{ url_for('static', filename='images/'+album.img) }}"/>
      <div class="info">
      {{ album.groupe.name }}</br>
      {{ album.title }}</br>
      {{ album.releaseYear }}</br>
    </div>
</div>
<a href="{{ url_for('edit_albums', id= album.id) }}"><button type="button" class="btn btn-default">Modifier</button></a>
{% endblock %}
