{% extends "base.html" %}
{% block main %}
<div class="text-center text-uppercase">
<h1>{{title}}</h1>
</div>
<div class="container">
{% for x in albums %}
  {% if loop.index is divisibleby 3 %}
<div class="row">
 {% endif %}
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
        <a href="{{ url_for('edit_albums', id= x.id) }}"><img src="{{ url_for('static', filename='images/'+x.img) }}"/></a>
      <div class="caption">
        <h3>{{ x.groupe.name }}</h3>
        <h4>{{ x.title }}</h4>
      	<h5>{{ x.releaseYear }}</h5>
        <p><a href="{{ url_for('edit_albums', id= x.id) }}" class="btn btn-primary" role="button">Modifier</a> <a href="#" class="btn btn-default" role="button">Editer</a></p>
      </div>
    </div>
  </div>
   {% if loop.index is divisibleby 3 %}
</div>
  {% endif %}
{% endfor %}
</div>
{% endblock %}


